ul,
li {
  display: flex;
}

ul {
  flex-wrap: wrap;
}

li {
  flex-direction: column;
  flex-basis: calc(20% - 0px);
  list-style: none;
  padding: 1px;
}

.movies__link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: blue;
  font-size: 18px;
}

.movies__link:hover,
.movies__link:focus {
  background-color: rgba(20, 4, 247, 0.95);
  color: rgba(247, 243, 4, 0.95);
}

.movies__item {
}
