.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: blue;
  font-size: 18px;
}

.link:hover {
  box-shadow: 0px 4px 4px rgba(247, 243, 4, 0.55);
  background-color: rgba(247, 243, 4, 0.15);
  border-radius: 4px;
}

.activeLink {
  composes: link;
  color: yellow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: rgba(255, 240, 0, 0.15);
}
