.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.17;
}

.activeLink {
  composes: link;
  color: #ff6b08;
}
