a {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: blue;
  font-size: 18px;
}

a:hover,
a:focus {
  background-color: rgba(20, 4, 247, 0.95);
  color: rgba(247, 243, 4, 0.95);
}

.movie_container {
  display: flex;
}

.photo_container {
  width: 250px;
  margin-right: 20px;
}

.poster {
  width: 100%;
}

.back_btn {
  font-size: 16px;
  margin-bottom: 10px;
  background-color: rgba(247, 243, 4, 0.95);
  cursor: pointer;
}

.back_btn:hover,
.back_btn:focus {
  background-color: rgba(20, 4, 247, 0.95);
  color: rgba(247, 243, 4, 0.95);
}
